
.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduce {
  color: #fff;
  margin-top: 100px;
  width: 100%;
  height: 700px;
  flex-direction: column;
  background:url("https://images.unsplash.com/photo-1458253756247-1e4ed949191b?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center/cover ;
}
.title {
  font-size: 100px;
  width: 600px;
}
.desc {
  width: 400px;
}
.black {
  color: #000;
}
.button {
  margin: 0 10px;
  width: 164px;
  height: 64px;
}
.menu-btn {
  background-color: #fff;
}
.menu {
  height: 700px;
  width: 100%;
}
.card {
  width: 306px;
  height: 375px;
  padding: 20px 10px;
}
.card-header {
  background-color: #4d592b3e;
  width: 100px;
  height: 100px;
}
.card-img {
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
.card-img-top {
  height: 50px;
  width: 40px;
}
.card-title {
  font-size: 25px;
}
.card-text {
  width: 238px;
  font-size: 18px;
}
.menu-title {
  font-size: 55px;
}
.Explore {
  color: #ad343e;
}
.about {
  max-width: 90%;
  gap: 50px;
  margin-bottom: 90px;
}
.about_img {
  max-width: 600px;
  max-height: 566px;
}
.about-title {
  font-size: 60px;
  width: 557px;
  height: 121px;
  line-height: 60px;
}
.about-right {
  margin-left: 50px;
  width: 557px;
  height: 457px;
}
.about-desc {
  margin: 20px 0;
  line-height: 28px;
  font-size: 18px;
}
.about-left {
  position: relative;
}
.about-message {
  position: absolute;
  right: -40px;
  bottom: -20px;
  background-color: #474747;
}
.about-message p {
  font-size: 16px;
  color: #fff;
}
.about-card-title {
  font-size: 24px;
  color: #fff;
}
.type-title {
  width: 60%;
  height: 121px;
  font-size: 55px;
}
.event-card {
  width: 18rem;
}
.event-title {
  margin: 20px 0;
  line-height: 30px;
}
.event-text {
  font-size: 16px;
  line-height: 24px;
}
.grid-holder {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 cột */
  gap: 10px; /* Khoảng cách giữa các hình */
  max-height: 700px; /* Chiều cao toàn màn hình */
}

.left-image {
  grid-row: span 2; /* Hình bên trái chiếm 2 hàng */
}

.image {
  object-fit: cover; /* Tự động chỉnh kích thước hình ảnh */
  border-radius: 8px; /* Bo góc hình ảnh */
  width: 290px;
  height: 290px;
}
.delivery {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.grid-holder {
  max-width: 745px;
  max-height: 627px;
}
.delivery-title {
  width: 461px;
  height: 121px;
  font-size: 55px;
  line-height: 60px;
}
.delivery li {
  margin: 40px;
}
.delivery li i {
  background-color: #ad343e;
  color: #fff;
}
.customer {
  height: 700px;
}
.blog {
  width: 90%;
}
.blog-title {
  font-size: 50px;
  height: 78px;
}
.blog-header {
margin: 0  40px;
}
.blog-btn {
  color: #fff;
  background-color: #ad343e;
  height: 50px;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 800px;
}
.blog-left {
  grid-row: span 2;
  max-width: 636px;
  height: 732px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
.blog-right-grid {
  display: grid   ;
  grid-template-columns: 1fr 1fr; /* Chia 2 cột */
  grid-template-rows: 1fr 1fr; /* Chia 2 hàng */
  gap: 30px; /* Khoảng cách giữa các hình nhỏ */ 

}
.blog-card {
  width: 306px;
  height: 340px;
}
.blog-img {
  width: 306px;
  height: 200px;

  border-top-left-radius: 16px ;
  border-top-right-radius: 16px ;
 object-fit: cover; 
 object-position: center;
}
.blog-card-title {
  height: 70px;
  width: 256px;
  margin-left: 10px;

}
.blog-card-left {
  flex-direction: column;
  object-fit: cover;
}
.blog-card-title-left {
  max-width: 568px;
  height: 52;
  font-size: 25px;
  margin-left: 40px;
  line-height: 24px;

}
.blog-desc {
  max-width: 554px;
  height: 72px;
  font-size: 20px;
  margin: 20px;
  line-height: 24px;
}
.delivery-img-left {
  max-width: 400px;
}
.blog-img-left {
  /* max-width: 400px; */
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 620px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;

}